.election-background{
    background-image: url(https://securingdemocracy.gmfus.org/wp-content/uploads/2023/07/shutterstock_2327347089-scaled.jpg);
    background-position: top;
    background-size: cover;
    
}

